@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&family=Montserrat&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
    transition: 0.8s;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 63px;
    width: 90%;
    padding: 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase.active {
    right: 300px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(icons/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(icons/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.logo img{
    width: 100px;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 7vw;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1em;
    text-shadow: 2px 1px #303030;
}

.text h3 {
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    text-shadow: 2px 1px #303030;
}

.text p {
    font-size: 1.1em;
    line-height: 1.2m;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    text-shadow: 1px 1px #303030;
}

.text a {
    display: inline-block;
    color: #000;
    padding: 8px 18px;
    border-radius: 25px;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 30px;
    left: -40px;
    text-decoration: none;
    display: flex;
    list-style: none;
    transform: scale(0.3);
}

.social li {
    margin-right: 65px;
}

.social img {
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1) translateY(-25px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #111;
    margin-top: 4px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #897052;
}

/* responsive with media query  */
/* @media (max-width: 798px) {
    .showcase .showcase header{
        padding: 40px;
    }
    .text h2 {
        font-size: 4em;
    }
    .text h3 {
        font-size: 3em;
        margin-top: 12px;
    }
    .text p {
        margin: 20px 0;
        /* font-size: 1.9em; */
    }
    .logo img{
        width: 80px;
    }
    
} */